<%- include('./partials/header'); -%>
    <h1>Home</h1>
    <p><%= para1 %></p>
    <% posts.forEach(function(p){ %>
       <h1><%= p.postTitle %></h1>
       <% if(p.content.length>250){ %>
            <p><%= p.content.substring(0,250)+" ..." %>
            <a href="/posts/<%=p._id%>">Read More</a>
            </p>
       <% } else{ %>
            <p><%= p.content %></p>
       <% } %>
    
    <%})%>
<%- include('./partials/footer'); -%>


